.container_div{
   .dot{
     display: flex;
     justify-content:center;
     align-self: flex-end;
     z-index: 1000;
     //border: 1px solid rgb(155, 155, 155);
     background-color: rgb(155, 155, 155);
     margin: 2px;
     border-radius: 50%;
     width: 10px;
     height: 10px;
     transition: 0.2s linear;
     &:hover{
       transition: 0.2s linear;
       background-color: rgb(180, 180, 180);
       cursor: pointer;
     }
     transform: rotate(0.02deg);
   }
 
   .stack_image{
     position: absolute;
     top: 50%;
     left: 50%;
     box-sizing: border-box;
     border: none;
   }
   @for $i from 1 through 52{
     img:nth-child(#{$i}){
       @if $i % 2 == 0{
         transform: translate(-50%, -50%) rotate(random(20) + deg) scale(1);
         transition: 0.2s linear;
         &:hover{
          transition: 0.2s linear;
          transform: translate(-50%, -50%) scale(1.1);
       }
         //box-shadow: 0px -1px 10px rgb(49, 51, 55);
       } @else {
         transform: translate(-50%, -50%) rotate(-20 + random(20) + deg) scale(1);
         transition: 0.2s linear;
          &:hover{
             transition: 0.2s linear;
             transform: translate(-50%, -50%) scale(1.1);
          }
         //box-shadow: 1px 0px 10px rgb(49, 51, 55);
       }
       @if $i == 5{
         transform: translate(-50%, -50%) rotate(-7deg) scale(1) ;
         transition: 0.2s linear;
         &:hover{
          transition: 0.2s linear;
          transform: translate(-50%, -50%) scale(1.1);
         }
       }
     }
   }
 }
 
 
 
 .displayNoneRighty{
   animation: fadeRight 0.4s linear forwards ;
 }
 
 .displayNoneLefty{
   animation: fadeLeft  0.4s linear forwards ;
 }
 
 @keyframes fadeRight{
   1%{
     filter: drop-shadow(0px 0px 0px);
   }
   50%{
     left: 100%;
     opacity: 0.8;
   }
   100%{
     left: 150%;
     opacity: 0;
     display: none;
   }
 }
 @keyframes fadeLeft{
 
   1%{
     filter: drop-shadow(0px 0px 0px);
   }
 
   50%{
     left: 0%;
     opacity: 0.8;
   }
   100%{
     left: -50%;
     opacity: 0;
     display: none;
   }
 }