  // .dots_div{
  //   display: flex;
  //   justify-content: center;
  //   align-self: flex-end;
  //   position: absolute;
  //   left: 50%;
  //   bottom: 5%;
  //   background-color: transparent;
  //   transform: translate(-50%, -5%);
    .dot{
    display: inline-flex;
    justify-content: center;
    justify-self: center;
    align-self: flex-end;
    text-align: center;
    z-index: 1000;
    //border: 1px solid rgb(155, 155, 155);
    background: rgb(155, 155, 155);
    margin: 2px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    transition: 0.2s linear;
    outline: none;
    border: none;

    &:hover{
      transition: 0.2s linear;
      background-color: transparent;
      cursor: pointer;
      transform: scale(1.2);
      border-radius: 50%;
    }
  }
//}

.imgs_container{
  display: grid;
  position: relative;
  grid-template-columns: 23% 50% 23%;
  grid-column-gap: 2%;
}


// .animateLeftMid{

// }

// .animateLeftLeft{

// }

// .animateLeftRight{

// }
