body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app{
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  /* //background-color: rgba(220 , 220, 220, 0.9); */
  transform: rotate(0.02deg);

}

.tile_container{
  background-color: rgb(236, 234, 234);
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(0.02deg);
}

.slide_container{
  height: 1000px;
  width: 100%;
  background-color: rgb(219, 219, 219);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.animated_slide_container{
  height: 1000px;
  width: 100%;
  background-color: rgba(220 , 220, 220, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chevrons {
   width: 100%;
   margin: 0 auto;
   border: 2px solid green;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.chevrons > *{
   margin: 20px;
   padding: 10px;
}
